doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  style.
    body {
    margin: 0;
    padding: 0;
    background-color: #f8f8f9 !important;
    }
    .container {
    max-width: 800px;
    background-color: #fff;
    margin: 0 auto;
    }
    .header {
    border-bottom: 1px solid #997cef;
    }
    .content {
    min-height: 400px;
    padding: 20px 0;
    }
    .footer {
    background-color: #5676ca;
    padding: 40px;
    }
    .header img {
    width: 300px;
    margin-left: auto;
    display: block;
    margin-right: auto;
    padding: 40px;
    }
    .content > * {
    text-align: center;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    }
    .content .button {
    display: block;
    background-color: #1aa19c;
    cursor: pointer;
    width: 250px;
    padding: 25px 0px;
    border-radius: 40px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    }
    .content .button a {
    font-size: 1.25em;
    text-decoration: none;
    color: white;
    }
    .footer > div {
    font-family: sans-serif;
    text-align: center;
    padding: 10px 0;
    color: #fff;
    }
    .footer div:first-child {
    font-weight: 600;
    font-size: 20px;
    }
    .footer div:last-child {
    font-size: 18px;
    }
    @media only screen and (max-width: 688px) {
    .header img {
    padding: 20px;
    }
    .content > * {
    padding: 15px;
    }
    }
  title Document
.container
  .header
    a(href='https://creativehustle.id' target='_blank')
      img(alt="I'm an image" src='https://api.creativehustle.id/uploads/creative-hustle.png')
  .content
    div
      p(style='font-size: 24px; color: #2b303a;') #{headerText}
      span(style='font-size: 30px; color: #2b303a;')
        strong #{subject} 
      p(style='color: #808389; font-size: 15px;')
        | #{paragraph1}
        | #{paragraph2}
    .button
      a(href=`${ctaLink}` target="_blank") #{ctaText}
    p(style='word-wrap: break-word;')
      | atau klik link di bawah ini: 
      br
      br
      a(href=`${ctaLink}` target="_blank" style='color: #4e7cff;')
        | #{ctaLink}
  .footer
    div Temukan Kami
    div
      img(src='https://img.icons8.com/fluent/48/000000/instagram-new.png')
      img(src='https://img.icons8.com/cotton/48/000000/youtube.png')
      img(src='https://img.icons8.com/fluent/48/000000/twitter.png')
      img(src='https://img.icons8.com/officel/48/000000/whatsapp.png')
    div Puri Hutama Danguran, Klaten Selatan, Kota Klaten, Jawa Tengah 57425
    div &copy; 2020 creativehustle Id
